[Desktop Entry]
Encoding=UTF-8
Name=Goblin Camp
GenericName=Goblin Camp
Comment=Rougelike/Citybuilder
Exec=/usr/bin/goblincamp.sh
Icon=/usr/share/pixmaps/goblincamp.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game
